{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-homepage{% endblock %}
{% load widget_tags %}

{% block content %}
  {% image page.hero_image original as hero_image %}

  {# Hero #}
  <div class="border-b-2 bg-bottom " style="background-image: url({{ hero_image.url }});">
    <div class="bg-linear-to-r from-50% from-indigo-950/95 to-indigo-950/60 w-full backdrop-saturate-0">
      <div class="container max-w-screen-lg mx-auto px-4 md:px-8 py-16 ">

        <div class="xl:w-9/12">
          <h1 class="text-2xl md:text-4xl lg:text-5xl font-black italic leading-[1.15] text-zinc-100">{{ page.hero_text }}</h1>
          <p class="text-lg md:text-xl w-10/12 mt-4 font-medium text-zinc-200 pr-20">{{ page.hero_description }}</p>

          {% if page.hero_cta_link %}
            <div class="mt-12 mb-6 hover:scale-105 origin-center transition ease-in-out duration-75 w-fit">
              <a href="{{ page.hero_cta_link }}"
                 class="text-lg md:text-2xl transition ease-in-out font-bold text-indigo-800 bg-amber-200 rounded-md py-3.5 px-5 shadow-md hover:shadow-lg hover:shadow-white/30 shadow-white/30 ">
                {% firstof page.hero_cta page.hero_cta_link.title %}
              </a>
            </div>
          {% endif %}
        </div>

      </div>
    </div>
  </div>


  {# Catalog Section #}
  <section class="w-full border-t-2 bg-indigo-50 h-full">

    <div class="mb-12 py-8">
      <div class="max-w-screen-lg mx-auto px-4 md:px-8">
        <h2 class="font-bold text-2xl md:text-4xl lg:text-5xl mb-4">{{ page.catalog_title }}</h2>

        <div class="font-medium text-lg md:text-2xl mb-6">
          With data on
          <span
              class="font-mono  text-xl md:text-2xl font-black text-zinc-900">{{ page.catalog_extension_count.extensions }}</span>
          extension{{ page.catalog_extension_count.extensions|pluralize }} and
          <span
              class="font-mono text-xl md:text-2xl font-black text-zinc-900">{{ page.catalog_extension_count.sites }}</span>
          site{{ page.catalog_extension_count.sites|pluralize }} from around the globe.
        </div>
      </div>

      <div id="map" class="h-[550px] w-full mb-4 border-y border-indigo-800">
        <div class="max-w-screen-lg mx-auto relative">
          <div class="absolute mx-2 md:mx-6 top-2 left-2 z-50 bg-white/60 px-1 py-0.5 backdrop-blur-md	italic">
            Click points to see site details
          </div>
        </div>
      </div>

      <div class="max-w-screen-lg mx-auto px-4 md:px-8">
        <div class="prose-lg mb-6">
          {{ page.catalog_body|richtext }}
        </div>

        <div>
          <a
              href="{{ page.catalog_cta_link }}"
              class="focus:outline-2 text-lg md:text-2xl block w-fit transition duration-100 ease-in font-semibold text-amber-200 border rounded py-1.5 px-3 bg-indigo-800 rounded-md hover:ring ring-indigo-500 underline-none">
            {{ page.catalog_cta }}
          </a>
        </div>
      </div>

      <section class="w-full mx-auto mt-8 px-4 md:px-8">
        <h3 class="mb-4 text-2xl font-bold">Highlighted extensions</h3>
        <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 1.5rem;">
          {% get_highlighted_extensions_widget %}
        </div>
      </section>

      <section class="w-full mx-auto mt-8 px-4 md:px-8">
        <h3 class="mb-4 text-2xl font-bold">Highlighted sites</h3>
        <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 1.5rem;">
          {% get_highlighted_sites_widget %}
        </div>
      </section>

    </div>
  </section>

  <script>
      var map = new maplibregl.Map({
          container: 'map', // container id
          style: 'https://api.maptiler.com/maps/dataviz/style.json?key={{ page.maptiler_key }}', // style URL
          center: [0, 0], // tarting position [lng, lat]
          zoom: 1 // starting zoom

      });

      map.on('load', () => {
          map.addSource('sites', {
              type: 'geojson',
              data: '/sites/geojson'
          })
          map.addLayer({
              id: 'sites/points',
              type: 'circle',
              source: "sites",
              paint: {
                  "circle-stroke-color": "#372AAC",
                  "circle-color": "#FFDF20",
                  "circle-stroke-width": 1,
              }
          })
          const hoverPopup = new maplibregl.Popup({
              closeButton: false,
              closeOnClick: false
          });
          const popup = new maplibregl.Popup({
              closeButton: false,
              closeOnClick: true
          });
          map.on('mouseenter', 'sites/points', (e) => {
              map.getCanvas().style.cursor = "pointer"
              const coordinates = e.features[0].geometry.coordinates.slice();
              const title = e.features[0].properties.title;
              // Ensure that if the map is zoomed out such that multiple
              // copies of the feature are visible, the popup appears
              // over the copy being pointed to.
              while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                  coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
              }

              hoverPopup
                  .setLngLat(coordinates)
                  .setHTML(`<div class="font-bold">${title}</div>`)
                  .addTo(map);
          })
          map.on('mouseleave', 'sites/points', (e) => {
              map.getCanvas().style.cursor = "default"
              hoverPopup.remove();
          })

          // zoom with controls, not mouse
          map.scrollZoom.disable()
          map.addControl(new maplibregl.NavigationControl({
              visualizePitch: true,
              visualizeRoll: true,
              showZoom: true,
              showCompass: true
          }));


          map.on('click', 'sites/points', (e) => {
              const coordinates = e.features[0].geometry.coordinates.slice();
              const title = e.features[0].properties.title;
              const description = e.features[0].properties.description;
              const url = e.features[0].properties.url;
              const catalogURL = e.features[0].properties.catalog_url;

              // Ensure that if the map is zoomed out such that multiple
              // copies of the feature are visible, the popup appears
              // over the copy being pointed to.
              while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                  coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
              }

              popup
                  .setLngLat(coordinates)
                  .setHTML(`<article><h1 class="font-bold text-lg">${title}</h1>
                    <a class="underline block font-medium" href="${url}">Site</a>
                    <a class="underline block font-medium" href="${catalogURL}">Catalog Listing</a>
                    <div class="text-xs mt-1  line-clamp-6">${description}</div></article>`)
                  .addTo(map);
          });

      })
  </script>

{% endblock content %}
