{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-homepage{% endblock %}
{% load widget_tags %}

{% block content %}
  {% image page.hero_image original as hero_image %}

  {# Hero #}
  <div class="border-b-2 bg-bottom " style="background-image: url({{ hero_image.url }});">
    <div class="bg-linear-to-r from-50% from-indigo-950/95 to-indigo-950/60 w-full backdrop-saturate-0">
      <div class="container max-w-screen-lg mx-auto px-8 py-16 ">

        <div class="xl:w-9/12">
          <h1 class="text-5xl font-black italic leading-[1.15] text-zinc-100">{{ page.hero_text }}</h1>
          <p class="text-xl w-10/12 mt-4 font-medium text-zinc-200 pr-20">{{ page.hero_description }}</p>

          {% if page.hero_cta_link %}
            <div class="mt-12 mb-6 hover:scale-105 origin-center transition ease-in-out duration-75 w-fit">
              <a href="{{ page.hero_cta_link }}"
                 class="text-2xl transition ease-in-out font-bold text-indigo-800 bg-amber-200 rounded-md py-3.5 px-5 shadow-md hover:shadow-lg hover:shadow-white/30 shadow-white/30 ">
                {% firstof page.hero_cta page.hero_cta_link.title %}
              </a>
            </div>
          {% endif %}
        </div>

      </div>
    </div>
  </div>


{#  <div>#}
{#  <div id="map" class="size-42"></div>#}
{#  </div>#}
{##}
{#  <script>#}
{#    var map = new maplibregl.Map({#}
{#        container: 'map', // container id#}
{#        style: 'https://demotiles.maplibre.org/style.json', // style URL#}
{#        center: [0, 0], // starting position [lng, lat]#}
{#        zoom: 1 // starting zoom#}
{#    });#}
{#</script>#}

  {# Catalog Section #}
  <section class="w-full border-t-2 py-8 bg-indigo-50 h-full">
    <div class="p-8 container max-w-screen-lg mx-auto">

      <div class="max-w-screen-lg mb-12">
        <h2 class="font-bold text-5xl mb-4">{{ page.catalog_title }}</h2>

        <div class="font-medium text-2xl mb-6">
          With data on
          <span class="font-mono text-2xl font-black text-zinc-900">{{ page.catalog_extension_count.extensions }}</span>
          extension{{ page.catalog_extension_count.extensions|pluralize }} and
          <span class="font-mono text-2xl font-black text-zinc-900">{{ page.catalog_extension_count.sites }}</span>
          site{{ page.catalog_extension_count.sites|pluralize }}.
        </div>

        <div class="prose-lg mb-6">
          {{ page.catalog_body|richtext }}
        </div>

        <div class="">
          <a
              href="{{ page.catalog_cta_link }}"
              class="focus:outline-2 text-2xl block w-fit transition duration-100 ease-in font-semibold text-amber-200 border rounded py-1.5 px-3 bg-indigo-800 rounded-md hover:ring ring-indigo-500 underline-none">
            {{ page.catalog_cta }}
          </a>
        </div>

      </div>

      <section class="w-full">
        <h3 class="mb-4 text-2xl font-bold">Highlighted extensions</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          {% get_highlighted_extensions_widget %}
        </div>
      </section>

      <section class="w-full mt-8">
        <h3 class="mb-4 text-2xl font-bold">Highlighted sites</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          {% get_highlighted_sites_widget %}
        </div>
      </section>

    </div>
  </section>


{% endblock content %}
