{% load wagtailcore_tags %}
{% load static %}

{% for topic in topics %}
  <a href="https://community.civicdataecosystem.org/t/{{ topic.slug }}/{{ topic.id }}" target="_blank"
     class="border-2 p-4 bg-white hover:bg-gray-50 rounded-md flex flex-col justify-between  hover:ring ring-blue">
    <article>
      <h1 class="font-bold text-3xl">
          {{ topic.title }}
      </h1>
      <div class="italic">{{ topic.excerpt|safe }}</div>

      <div class="mt-2 flex flex-col gap-1 text-xs">
        {% if topic.last_updated is not none %}
          <div class="flex items-center gap-1 mt-1">
            <img style="height: 1rem;" src="{% static 'images/history-24.svg' %}" alt="Updated">
            <span class="">Updated:</span>
            <span class="font-semibold text-zinc-900">{{ topic.last_updated|date }}</span>
          </div>
        {% endif %}
        <div class="flex items-center gap-4">
          <div class="flex items-center gap-1">
            <img style="height: 1rem;" src="{% static 'images/comment-discussion-24.svg' %}" alt="Posts">
            <span class="">Posts:</span>
            <span class="font-semibold text-zinc-900 ">{{ topic.posts_count }}</span>
          </div>
        </div>
      </div>
    </article>

  </a>
{% endfor %}
