{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailcore_tags home_tags %}
{% load wagtailcore_tags navigation_tags %}

{% with nav_settings=settings.base.GlobalSettings %}
  {% get_site_root as site_root %}
  <div class="lg:flex w-full justify-between items-center px-4 md:px-8 py-4 border-b-2">
    <a class="flex items-center gap-4 mb-4 md:mb-0" href="{% pageurl site_root %}">
      {% image nav_settings.ckan_logo height-48 %}

      <h1 class="inline-block text-zinc-700 font-bold text-3xl leading-none pt-1.5">Ecosystem Development</h1>
    </a>


    <nav class="pr-1 pt-4 lg:pt-1.5 border-t lg:border-0 border-zinc-200 ">
      <ul class="flex gap-5">
        {% main_nav_items %}
      </ul>
    </nav>


  </div>
{% endwith %}